.fade-in {
  opacity: 0;
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
}

.zoom-in--right {
  -webkit-transform: translateX(8rem);
  transform: translateX(8rem);
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
}

.zoom-in--left {
  -webkit-transform: translateX(-8rem);
  transform: translateX(-8rem);
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
}

.zoom-in--bottom {
  -webkit-transform: translateY(8rem);
  transform: translateY(8rem);
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
}

.zoom-in--top {
  -webkit-transform: translateY(-8rem);
  transform: translateY(-8rem);
  -webkit-transition: all ease-in-out;
  transition: all ease-in-out;
}

.animate--fast {
  transition-duration: 0.3s;
}

.grow:hover {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.grow {
  -webkit-transition: all ease-in-out;
  transition: all 0.3s ease-in-out;
}

.color-fade {
  -webkit-transition: color 0.4s, color 0.4s;
  transition: color 0.4s, color 0.4s;
  -webkit-transition-property: color, color;
  transition-property: color, color;
  animation-name: fadeInTop;
}

.animate--infinite {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (max-width: 991px) {
  .animate--infinite {
    -webkit-animation: none;
    animation: none;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}
