$blue: #0090c5;
$red: #ef3e36;
$gray: #333;
$white: #fff;
$black: #000;

$primary: $red;
$link: $blue;
$dark: $gray;
$text: $black;

$font-primary:"Raleway";
$font-secondary: "Merriweather";

// Typography

// $size-1: 5rem;


// Responsive Breakpoints

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;